<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Register</title>
  </head>
  <body><h1>
      <h1>Register</h1>
      <form action='./signUp.hbs' method='post'>
        <div><label for='userName'>userName</label>
          <input type='text' id='userName' name='userName' required />
        </div>
        <div><label for='password'>password</label>
          <input type='text' id='passWord' name='passWord' required />
        </div>
        <div><label for='email'>email</label>
          <input type='text' id='email' name='email' required />
        </div>
        <button type='submit'>Register</button>
      </form>
    </h1>
    <a href='./signIn.hbs'>Login</a>
  </body>
</html>