<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Register</title>
  </head>
  <body><h1>
      <h1>Login</h1>
      {{! Turns out that his was the problem all along, enctype wan't x-www-form-urlencoded and made my journey hard af }}
      <form
        enctype='application/x-www-form-urlencoded'
        action='/signIn'
        method='post'
      >
        <div><label for='username'>username</label>
          <input type='text' id='username' name='username' required />
        </div>
        <div><label for='password'>password</label>
          <input type='text' id='password' name='password' required />
        </div>
        <button type='submit'>Login</button>
      </form>
    </h1>
    <a href='./signUp'>Register</a>
  </body>
</html>